*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding:0 2rem;
    background: rgb(238, 236, 236);
    box-shadow: 1px 1px 4px black;
    z-index: 999;
    position: fixed;
    top: 0%;
    .logo{
        h1{
            font-family:"Brush Script MT";
        }
    }
    .navLinks{
        display: flex;
        margin: 0 2rem;
        div{
            position: relative;
            margin: 0 1.2rem; 
            a{
                color: black;
            }
            p{
                font-size: 1.2rem;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: darkcyan;
                    } 
                }
            }
        }
        .home{
            a{
                color: darkcyan;
                transition: 0.4s ease-in;
            }
            a::after{
                content: '';
                width: 50%;
                height: 2px;
                background: darkcyan;
                position: absolute;
                bottom: -4px;
                left: 1px;
            }
        }
        #toogleBar{
            display: none;
        }
    }
}
@media screen and (max-width:768px){
    .nav{
        display: flex;
        height: 60px;
        position: fixed;
        max-width: 100%;      
        justify-content: space-between;
        padding: 0;
        .logo{
            padding-left: 1rem;
        }
        .navLinks{
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            z-index:999;
            transition: all 0.3s ease;
            background:  rgb(238, 236, 236);
            height: 100vh;
            margin: 0;
            top: 0%;
            right: -1000px;
            padding-top: 3rem;
            overflow: hidden;
            .home,.contact,.blog,.about,.shop,.cart{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                width: 100%;
            }
            #toogleBar{
                display: flex !important;
                font-size: 1.5rem;
                z-index: -1;
                cursor: pointer;
                position: fixed;
                left: 85%;
                top: 3%;
            }
            .home{
                p{
                    a{
                        border-bottom:2px solid darkcyan;
                    }
                    a::after{
                        content: none;
                    }
                }
            }
        }
        .display{
            right: 0%;
        }
    }
}
.homee{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    .sec1{
        display: grid ;
        grid-template-columns: repeat(2,1fr) ;
        background: rgb(238, 236, 236);
        width: 100%;
        padding: 0px  50px;
        .left1{
            height:100% ;
            display: flex;
            flex-direction: column;
            justify-content: center;
           p{
               font-size: 1rem;
               font-family:'Trebuchet MS';
               font-weight: bolder;
               margin-bottom: 0.6rem;
           }
           h1{
               font-size: 2.5rem;
               color: black;
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               margin-bottom: 0.5rem;
               span{
                   color: darkcyan;
               }
           }
           h5{
                font-family: 'Trebuchet MS';
                margin-bottom: 1rem;
                opacity: 0.7;
           }
           button{
               font-family: 'Trebuchet MS';
               font-family: 1rem;
               display: flex;
               justify-content: center;
               width: 50%;
               background-image: url(../images/splash.png);
               background-size: cover;
               background-repeat: no-repeat;
               outline: none;
               border: none;
               padding: 0.2rem;
           }
        }
        .right1{
            display: flex;
            margin-top: 6rem;
            img{
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                border-bottom-left-radius:4rem ;
                border-bottom-right-radius:3rem ;
            }
        }
       
    }
    @media screen and (max-width:768px){ 
        .sec1{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 100%;
            .left1{
                margin: 6rem 0;
                p{
                    font-size: 0.7rem;
                }
                h1{
                    font-size: 1.5rem;
                }
            }
            .right1{
                margin-top: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 100%;
                    width: 100%;
                    border-bottom-left-radius:50% ;
                    border-bottom-right-radius:50%;
                }
            }
        }
    }
    .sec2{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background: rgb(255, 255, 255);
        padding-top: 3rem;
        width: 100%;
        .featureImages{
            display: flex;
            flex-direction: row;
            margin: 2rem 1rem;
            .f1{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
                background-color: rgb(255, 255, 255);
                margin: 0rem 0.5rem;
                padding: 2rem 1rem;
                box-shadow: 1px 2px 4px #9b9b9b;
                border-radius: 5px;
                img{
                    height: 3rem;
                    width: 4rem;
                }
                p{
                    margin-top: 1rem;
                    background-color: rgb(17, 84, 96);
                    padding: 0.2rem;
                    border-radius: 3px;
                    color: rgb(255, 255, 255);
                    font-family:Georgia;
                    font-size: 0.6rem;
                }
            }
            .f1:nth-child(2){
                p{
                    background-color: rgb(211, 142, 209);
                }
            }
            .f1:nth-child(3){
                p{
                    background-color: rgb(115, 169, 143);
                }
            }
            .f1:nth-child(4){
                p{
                    background-color: rgb(36, 86, 172);
                }
            }
            .f1:nth-child(5){
                p{
                    background-color: rgb(189, 69, 233);
                }
            }
            .f1:nth-child(6){
                p{
                    background-color: rgb(195, 121, 23);
                }
            }
        }
        .left1{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-family: 'Trebuchet MS';
                font-size: 3rem;
            }
            h5{
                font-family: Times, serif;
                opacity: 0.7;
            }
        }
        .right111{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: 2rem 1rem;
            transition: all 0.4s ease-in-out;
            .c1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                margin: 1rem;
                padding: 0.2rem;
                box-shadow: 1px 1px 2px #d7d7ca;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover{
                    box-shadow: 1px 3px 4px #5d5d5c;
                    transition: all 0.2s ease-in-out;
                }
                img{
                    border-radius: 0.3rem;
                    height:9rem;
                    width: 7rem;
                    object-fit: cover;
                }
                .text{
                    p{
                        font-size: 0.7rem;
                        opacity: 0.6;
                        font-family: arial;
                    }
                    h4{
                        font-family:'Lucida Sans';
                        font-size: .8rem;
                    }
                    .star{
                        i{
                            color:rgb(225, 195, 21);
                            font-size: 0.7rem;
                        }
                    }
                    h5{
                        color: darkcyan;
                        font-size: 0.8rem;
                        font-family: 'Trebuchet MS';
                    }
                    .ty{
                        position: absolute;
                        color: darkcyan;
                        left: 78%;
                        bottom: 1%;
                        background: #eaeae5;
                        border-radius: 50%;
                        padding: 0.2rem;
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .right2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem;
            box-shadow: 1px 2px 4px #000;
            position: absolute;
            transform: scale(0);
            transition: all 0.4s ease-in-out;
            .closeBtnn{
                position: absolute;
                right: 1%;
                font-size: 3rem;
                color: black;
                text-decoration: none;
                cursor: pointer;
                top: 3%;
            }
            .currentView{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 2rem;
                img{
                    height: 15rem;
                }
                .description{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin: 0 2rem;
                    height: 100%;
                    p{
                        font-size: 0.7rem;
                        opacity: 0.6;
                        font-family: arial;
                    }
                    h4{
                        font-family:'Lucida Sans';
                        font-size: .8rem;
                    }
                    .star{
                        i{
                            color:rgb(225, 195, 21);
                            font-size: 0.7rem;
                        }
                    }
                    h5{
                        color: darkcyan;
                        font-size: 0.8rem;
                        font-family: 'Trebuchet MS';
                    }
                    a{
                        color: darkcyan;
                    }
                }
            }
            .others{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                align-items:center;
                justify-content: center;
                img{
                    border: 1px solid darkcyan;
                    margin: .5rem;
                    height: 4rem;
                    width: 5rem;
                    object-fit: cover;
                }
            }
        }
        .right3{
            background: url(../images/b2.jpg);
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            height: 30vh;
            min-width: 100%;
            color: white;
            margin-bottom: 3rem;
            p{
                font-family: 'Trebuchet MS';
            }
            h1{
                margin: 1rem 0rem;
                font-size: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                span{
                    color: rgb(178, 20, 20);
                }
            }
            button{
                padding: 0.6rem;
                border: none;
                outline: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                border-radius: 0.4rem;
                &:hover{
                    box-shadow: inset 1px 1px 4px rgb(5, 5, 5);
                    transition: all 0.4s ease-in-out;
                }
            }

        }
    }
    @media screen and (max-width:768px){
        .sec2{
            .featureImages{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                width: auto;
                .f1{
                    margin: 1.5rem 1rem;
                    padding: 1rem;
                }
            }
            .left1{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    margin-top: 1.2rem;
                    font-size: 1.5rem;
                }
            }
            .right1{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                margin: 0 2rem;
                .c1{
                    padding: 0.2rem;
                    margin: 1rem 1rem;
                    img{
                        height: 9rem;
                        width: 7rem;
                    }
                }
            }
            .right3{
                height: 35vh;
                padding: 1rem;
            }
        }
    }
    .sec3{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background: rgb(255, 255, 255);
        padding-top: 3rem;
        width: 100%;
        .left1{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-family: 'Trebuchet MS';
                font-size: 3rem;
            }
            h5{
                font-family: Times, serif;
                opacity: 0.7;
            }
        }
        .right1{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: 2rem 1rem;
            .c1{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 1rem;
                padding: 0.2rem;
                box-shadow: 1px 1px 2px #d7d7ca;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover{
                    box-shadow: 1px 3px 4px #5d5d5c;
                    transition: all 0.2s ease-in-out;
                }
                img{
                    border-radius: 0.3rem;
                    height:9rem;
                    width: 7rem;
                    object-fit: cover;
                }
                p{
                    font-size: 0.7rem;
                    opacity: 0.6;
                    font-family: arial;
                }
                h4{
                    font-family:'Lucida Sans';
                    font-size: .8rem;
                }
                .star{
                    i{
                        color:rgb(225, 195, 21);
                        font-size: 0.7rem;
                    }
                }
                h5{
                    color: darkcyan;
                    font-size: 0.8rem;
                    font-family: 'Trebuchet MS';
                }
                .ty{
                    position: absolute;
                    color: darkcyan;
                    left: 78%;
                    bottom: 1%;
                    background: #eaeae5;
                    border-radius: 50%;
                    padding: 0.2rem;
                    font-size: 0.7rem;
                }
            }
        }
        .right2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .topRow{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .topRow1{
                    position: relative;
                    .TRtext{
                        position: absolute;
                        margin: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 1rem;
                        color: rgb(249, 245, 245);
                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                        h3{
                            font-weight: 600px;
                            font-size: 1.4rem;
                            font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }
                        h5{
                            font-size: 0.7rem;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        }
                        h6{
                            margin-top: 0.4rem;
                            padding: 0.5rem;
                            border: 1px solid white ;
                            cursor: pointer;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            &:hover{
                                color: orange;
                                background: white;
                                transition: all 0.4s ease-in;
                            }
                        }
                    }
                    img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:22rem;
                        height: 12rem;
                        margin: 1rem;
                        object-fit: cover;
                    }
                }
                .topRow2{
                    position: relative;
                    .TRtext{
                        position: absolute;
                        margin: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        height: 50%;
                        padding: 1rem;
                        color: rgb(249, 245, 245);
                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                        h3{
                            font-weight: 600px;
                            font-size: 1.4rem;
                            font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }
                        h5{
                            font-size: 0.7rem;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        }
                        h6{
                            margin-top: 0.4rem;
                            padding: 0.5rem;
                            border: 1px solid white ;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            cursor: pointer;
                            &:hover{
                                color: grey;
                                background: white;
                                transition: all 0.4s ease-in;
                            }
                        }
                    }
                    img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:22rem;
                        height: 12rem;
                        margin: 1rem;
                        object-fit: cover;
                    }
                }
            }
            .buttomRow{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .buttomRow1,.buttomRow2,.buttomRow3{
                    position: relative;
                    div{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        height: 50%;
                        margin: 1rem;
                        padding: 0.3rem;
                        h2{
                            font-size: 1rem;
                            font-family: Arial, Helvetica, sans-serif;
                            color: white;
                        }
                        p{
                            font-size: 0.6rem;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            color: red;
                        }
                    }
                    img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:14rem;
                        height: 8rem;
                        margin: 1rem;
                        object-fit: cover;
                    }
                }
            }
        }
        .right3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            .sec1{
                display: flex;
                flex-direction: column;
                margin-top: 4rem ;
                padding: 0;
                width: 100%;
                .newsLetter{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 30vh;
                    width: 100%;
                    background: rgb(4, 15, 56);
                    padding: 2rem;
                    .text{
                        display: flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items: flex-start;
                        color: white;
                        text-align: left;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        h1{
                            font-size: 1.3rem;
                        }
                        p{
                            font-size: 0.6rem;
                            span{
                                color: orange;
                            }
                        }
                    }
                    .input1{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        margin: 1rem;
                        input{
                            outline: none;
                            border: none;
                            padding: 1rem;
                            font-size: 0.7rem;
                        }
                        p{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: darkcyan;
                            padding: 1rem;
                            cursor: pointer;
                            font-size: 0.7rem;
                            &:hover{
                                background: white;
                                color: darkcyan;
                                border: 1px solid darkcyan;
                            }
                        }
                    }
                }
                .footer{
                    display: grid;
                    grid-template-columns: repeat(2,35% 65%);
                    padding: 2rem;
                    padding-bottom: 0;
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                    .locate{
                        display: flex;
                        flex-direction: column;
                        h1{
                            font-family:"Brush Script MT" ;
                        }
                        p{
                            margin: .5rem 0;
                            font-size: 0.7rem;
                            font-family: 'Trebuchet MS';
                            font-weight: 100;
                            font-weight:400;
                            span{
                                font-weight: 900;
                            }
                        }
                    }
                    .abouttt{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        .about1,.myAccount,.installApp{
                            h1{
                                font-family:'Segoe UI';
                                font-size: 1rem;
                            }
                            p{
                                margin: .5rem 0;
                                font-size: 0.7rem;
                                font-family: 'Trebuchet MS';
                                font-weight: 100;
                                font-weight:400;
                                span{
                                    font-weight: 900;
                                }
                            }
                        }
                        .installApp{
                            .stores{
                                display: flex;
                                flex-direction: row;
                                align-items: center; 
                                a{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                                .apple{
                                    align-items: center;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    padding:0;
                                    border: 2px solid black;
                                    margin: 0.5rem;
                                    border-radius: 1rem;
                                    width: 8rem;
                                    i{
                                        font-size: 1.5rem;
                                    }
                                    p{
                                        font-size: 0.7rem;
                                        font-weight: bolder;
                                        padding-left: 0.4rem;
                                        span{
                                            font-size: 0.5rem;
                                        }
                                    }
                                }
                                .google{
                                    align-items: center;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;;
                                    border: 2px solid black;
                                    margin: 0.5rem;
                                    border-radius: 1rem;
                                    width: 8rem;
                                    padding: 0.4rem 0;
                                    i{
                                        font-size: 1.5rem;
                                    }
                                    p{
                                        font-size: 0.7rem;
                                        font-weight: bolder;
                                        padding-left: 0 1rem;
                                    }
                                }      
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width:768px){
            .right1{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                margin: 2rem 1rem;
            }
            .right2{
                .topRow{
                    display: flex;
                    flex-direction: column;
                    .topRow1{
                        img{
                            width: 20rem;
                            height: 10rem;
                        }
                    }
                    .topRow2{
                        img{
                            width: 20rem;
                            height: 10rem; 
                        }
                    }
                }
                .buttomRow{
                    display: flex;
                    flex-direction: column;
                }
            }
            .right3{
                .sec1{
                    .newsLetter{
                        .text{
                            padding: 1rem;
                            h1{
                                font-size: 1rem;
                            }
                        }
                        .input1{
                            input{
                                outline: none;
                                border: none;
                                padding: 0;
                                width: 70%;
                                font-size: 0.5rem;
                                height: 3rem;
                            }
                            p{
                                height: 3rem;
                                padding: 0rem;
                                font-size: 0.5rem;
                                width: 50%;
                            }
                        }
                    }
                    .footer{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 2rem;
                        .locate{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            padding-left:1.5rem;
                            p{
                                font-size: 0.8rem;
                            }
                            a{
                                text-decoration: none;
                                color: #000;
                            }
                        }
                        .abouttt{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            .about1,.myAccount,.installApp{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                text-align: left;
                                margin: 1rem;
                                padding: 0;
                                h1{
                                    font-family:'Segoe UI';
                                    font-size: 1rem;
                                }
                                p{
                                    margin: .5rem 0;
                                    font-size: 0.8rem;
                                    font-family: 'Trebuchet MS';
                                    font-weight: 100;
                                    font-weight:400;
                                    span{
                                        font-weight: 900;
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    color: #000;
                                    &:hover{
                                        color: #5d5d5c;
                                    }
                                }
                            }
                            .installApp{
                                .stores{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    a{
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center; 
                                        .apple{
                                            align-items: center;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            padding:0;
                                            border: 2px solid black;
                                            margin: 0.5rem;
                                            border-radius: 1rem;
                                            width: 8rem;
                                            i{
                                                font-size: 1.5rem;
                                            }
                                            p{
                                                font-size: 0.7rem;
                                                font-weight: bolder;
                                                padding-left: 0.4rem;
                                                span{
                                                    font-size: 0.5rem;
                                                }
                                            }
                                        }
                                    }
                                    .google{
                                        align-items: center;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;;
                                        border: 2px solid black;
                                        margin: 0.5rem;
                                        border-radius: 1rem;
                                        width: 8rem;
                                        padding: 0.4rem 0;
                                        i{
                                            font-size: 1.5rem;
                                        }
                                        p{
                                            font-size: 0.7rem;
                                            font-weight: bolder;
                                            padding-left: 0 1rem;
                                        }
                                    }    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 
}
