*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition:all 0.5 ease-in;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding:0 2rem;
    background: rgb(238, 236, 236);
    box-shadow: 1px 1px 4px black;
    z-index: 999;
    position: fixed;
    top: 0;
    .logo{
        h1{
            font-family:"Brush Script MT";
        }
    }
    .navLinks{
        display: flex;
        margin: 0 2rem;
        div{
            position: relative;
            margin: 0 1.2rem; 
            a{
                color: black;
            }
            p{
                font-size: 1.2rem;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: darkcyan;
                    } 
                }
            }
        }
        .shop{
            a{
                color: darkcyan;
                transition: 0.4s ease-in;
            }
            a::after{
                content: '';
                width: 50%;
                height: 2px;
                background: darkcyan;
                position: absolute;
                bottom: -4px;
                left: 1px;
            }
        }
        #toogleBar{
            display: none;
        }
    }
}
@media screen and (max-width:768px){
    .nav{
        display: flex;
        height: 60px;
        position: fixed;
        max-width: 100%;      
        justify-content: space-between;
        padding: 0;
        .logo{
            padding-left: 1rem;
        }
        .navLinks{
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            z-index:999;
            transition: all 0.3s ease;
            background:  rgb(238, 236, 236);
            height: 100vh;
            margin: 0;
            top: 0%;
            right: -1000px;
            padding-top: 3rem;
            overflow: hidden;
            .home,.contact,.blog,.about,.shop,.cart{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                width: 100%;
            }
            .shop{
                p{
                    a{
                        border-bottom:2px solid darkcyan;
                    }
                    a::after{
                        content: none;
                    }
                }
            }
            #toogleBar{
                display: flex !important;
                font-size: 1.5rem;
                z-index: -1;
                cursor: pointer;
                position: fixed;
                left: 85%;
                top: 3%;
            }
        }
        .display{
            right: 0%;
        }
    }
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sec1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem ;
        margin-top: 1rem;
        width: 100%;
        .topSec1{
            background: url(../../images/banner/b1.jpg);
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            height: 40vh;
            min-width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            h1{
                font-family: 'Trebuchet MS';
            }
            p{
                font-size: smaller;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                opacity: 0.7;
            }
        }
        .bottomSec1{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin: 2rem 1rem;
            .c1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                margin: 1rem;
                padding: 0.2rem;
                box-shadow: 1px 1px 2px #d7d7ca;
                border-radius: 0.3rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover{
                    box-shadow: 1px 3px 4px #5d5d5c;
                    transition: all 0.2s ease-in-out;
                }
                img{
                    border-radius: 0.3rem;
                    height:9rem;
                    width: 7rem;
                    object-fit: cover;
                }
                p{
                    font-size: 0.7rem;
                    opacity: 0.6;
                    font-family: arial;
                }
                h4{
                    font-family:'Lucida Sans';
                    font-size: .8rem;
                }
                .star{
                    i{
                        color:rgb(225, 195, 21);
                        font-size: 0.7rem;
                    }
                }
                h5{
                    color: darkcyan;
                    font-size: 0.8rem;
                    font-family: 'Trebuchet MS';
                }
                .ty{
                    position: absolute;
                    color: darkcyan;
                    left: 78%;
                    bottom: 1%;
                    background: #eaeae5;
                    border-radius: 50%;
                    padding: 0.2rem;
                    font-size: 0.7rem;
                }
            }
        }
        .directory{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            p{
                padding: 0.8rem 1rem;
                background: darkcyan;
                border-radius: 3px;
                margin: 0.1rem;
                cursor: pointer;
                &:hover{
                    color: darkcyan;
                    background: rgb(177, 177, 177);
                    border: 2px solid darkcyan inset;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        @media screen and (max-width:768px){
            .bottomSec1{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                .c1{
                    margin: 1rem;
                    padding: 0.5rem;
                    img{
                        height: 7rem;
                        width: 5rem;
                    }
                }
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    .footer1{
        display: flex;
        flex-direction: column;
        margin-top: 4rem ;
        padding: 0;
        width: 100%;
        .newsLetter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 30vh;
            width: 100%;
            background: rgb(4, 15, 56);
            padding: 2rem;
            .text{
                display: flex;
                flex-direction:column;
                justify-content: center;
                align-items: flex-start;
                color: white;
                text-align: left;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                h1{
                    font-size: 1.3rem;
                }
                p{
                    font-size: 0.6rem;
                    span{
                        color: orange;
                    }
                }
            }
            .input1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: white;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin: 1rem;
                input{
                    outline: none;
                    border: none;
                    padding: 1rem;
                    font-size: 0.7rem;
                }
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: darkcyan;
                    padding: 1rem;
                    cursor: pointer;
                    font-size: 0.7rem;
                    &:hover{
                        background: white;
                        color: darkcyan;
                        border: 1px solid darkcyan;
                    }
                }
            }
        }
        .footer{
            display: grid;
            grid-template-columns: repeat(2,auto);
            padding: 2rem;
            position: relative;
            padding-bottom: 0;
            a{
                text-decoration: none;
                color: #000;
            }
            .locate{
                display: flex;
                flex-direction: column;
                h1{
                    font-family:"Brush Script MT" ;
                }
                p{
                    margin: .5rem 0;
                    font-size: 0.7rem;
                    font-family: 'Trebuchet MS';
                    font-weight: 100;
                    font-weight:400;
                    span{
                        font-weight: 900;
                    }
                }
            }
            .abouttt{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .about1,.myAccount,.installApp{
                    h1{
                        font-family:'Segoe UI';
                        font-size: 1rem;
                    }
                    p{
                        margin: .5rem 0;
                        font-size: 0.7rem;
                        font-family: 'Trebuchet MS';
                        font-weight: 100;
                        font-weight:400;
                        span{
                            font-weight: 900;
                        }
                    }
                }
                .installApp{
                    .stores{
                        display: flex;
                        flex-direction: row;
                        align-items: center; 
                        a{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            &:hover{
                                color: #5d5d5c;
                            }
                        }
                        .apple{
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            padding:0;
                            border: 2px solid black;
                            margin: 0.5rem;
                            border-radius: 1rem;
                            width: 8rem;
                            i{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 0.7rem;
                                font-weight: bolder;
                                padding-left: 0.4rem;
                                span{
                                    font-size: 0.5rem;
                                }
                            }
                        }
                        .google{
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;;
                            border: 2px solid black;
                            margin: 0.5rem;
                            border-radius: 1rem;
                            width: 8rem;
                            padding: 0.4rem 0;
                            i{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 0.7rem;
                                font-weight: bolder;
                                padding-left: 0 1rem;
                            }
                        }      
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .footer1{
        .newsLetter{
            .text{
                padding: 1rem;
                h1{
                    font-size: 1rem;
                }
            }
            .input1{
                input{
                    outline: none;
                    border: none;
                    padding: 0;
                    width: 70%;
                    font-size: 0.5rem;
                    height: 3rem;
                }
                p{
                    height: 3rem;
                    padding: 0rem;
                    font-size: 0.5rem;
                    width: 50%;
                }
            }
        }
        .footer{
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            .locate{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 1rem;
                p{
                    font-size: 0.8rem;
                }
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
            .abouttt{
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .about1,.myAccount,.installApp{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    text-align: left;
                    margin: 1rem;
                    padding: 0;
                    h1{
                        font-family:'Segoe UI';
                        font-size: 1rem;
                    }
                    p{
                        margin: .5rem 0;
                        font-size: 0.8rem;
                        font-family: 'Trebuchet MS';
                        font-weight: 100;
                        font-weight:400;
                        span{
                            font-weight: 900;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: #5d5d5c;
                        }
                    }
                }
                .installApp{
                    .stores{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        a{
                            display: flex;
                            flex-direction: row;
                            align-items: center; 
                            .apple{
                                align-items: center;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                padding:0;
                                border: 2px solid black;
                                margin: 0.5rem;
                                border-radius: 1rem;
                                width: 8rem;
                                i{
                                    font-size: 1.5rem;
                                }
                                p{
                                    font-size: 0.7rem;
                                    font-weight: bolder;
                                    padding-left: 0.4rem;
                                    span{
                                        font-size: 0.5rem;
                                    }
                                }
                            }
                        }
                        .google{
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;;
                            border: 2px solid black;
                            margin: 0.5rem;
                            border-radius: 1rem;
                            width: 8rem;
                            padding: 0.4rem 0;
                            i{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 0.7rem;
                                font-weight: bolder;
                                padding-left: 0 1rem;
                            }
                        }    
                    }
                }
            }
        
        }
    }
}

